@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);
h1, h2, h3, h4, h5, h6 {
  font-family: 'vinyl', sans-serif; }

.desktop-hidden {
  display: none; }

.italic {
  font-style: italic; }

strong {
  font-weight: bolder; }

.mobile-hidden {
  display: block; }

a {
  color: #0074D9; }

.instruction-text {
  font-family: "Inconsolata", monospace !important;
  font-size: 18px !important;
  letter-spacing: 0.5px; }

.btn {
  width: 200px;
  padding: 14px 0;
  text-align: center;
  margin: 40px auto 20px auto;
  display: block;
  background: #fff;
  color: #555;
  border: 1px solid #555;
  font-family: "rooney-web", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.3s all; }
  .btn:hover {
    background: #555;
    color: #fff; }

@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell;
    vertical-align: top; } }
body, html {
  height: 100%; }

/* layout */
.hide-for-layout {
  display: none; }

body {
  margin: 0; }
  body p {
    font-family: "rooney-web", sans-serif; }

.row {
  border-spacing: 15px 0; }

nav {
  background-color: #140E11;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 100000; }
  nav .menu-btn {
    position: absolute;
    display: none;
    right: 20px;
    top: 18px;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../img/menu-btn.png); }
  nav h1, nav ul, nav li, nav a {
    display: inline-block; }
  nav h1, nav ul, nav li {
    font-family: "vinyl", sans-serif; }
  nav img {
    max-width: 70px; }
  nav ul a {
    text-decoration: none;
    color: #ccc;
    border-bottom: 2px #1E1C1C solid;
    transition: 0.3s all; }
    nav ul a:hover {
      color: white;
      border-color: white; }
  nav li {
    margin-right: 15px;
    letter-spacing: 1px;
    text-transform: uppercase; }

.nav-container {
  height: 70px;
  display: block;
  margin: 0 auto; }

.home-link {
  background-image: url(../img/navLogo.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 160px;
  text-align: right;
  height: 70px;
  line-height: 70px;
  margin-right: 30px; }
  .home-link h1 {
    color: #fff;
    display: inline-block;
    font-size: 28px; }

.background-image {
  background: url(../img/aboutBG1.jpg);
  height: auto;
  width: 100%;
  background-size: auto auto; }

#video-placement {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%; }

.full-section {
  max-width: 100%;
  height: 100%;
  z-index: 1000; }

.text-container {
  max-width: 1000px;
  margin: 0px auto 0px auto; }

.relative-placement {
  position: relative;
  vertical-align: middle; }

.home-page {
  position: relative;
  text-align: center; }
  .home-page img {
    max-width: 150px; }
  .home-page h1, .home-page h2 {
    text-align: center;
    color: #fff; }
  .home-page h1 {
    font-size: 44px; }
  .home-page h2 {
    font-size: 28px;
    letter-spacing: 1px; }
  .home-page .down-arrow {
    position: absolute;
    bottom: 40px;
    background: url("../img/arrow-down.png");
    width: 40px;
    height: 40px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-animation: flashArrow 2s infinite;
    /* Safari 4+ */
    -moz-animation: flashArrow 2s infinite;
    /* Fx 5+ */
    -o-animation: flashArrow 2s infinite;
    /* Opera 12+ */
    animation: flashArrow 2s infinite;
    /* IE 10+, Fx 29+ */ }

.mobile-animation {
  display: none; }

#problem-section {
  background-image: url(../img/pattern-2.jpg);
  height: 700px; }
  #problem-section .text-container {
    height: 100%; }

.problem-page {
  max-width: 1200px; }

.problem-page .col img {
  max-width: 100%; }

.problem-page .col-problem {
  vertical-align: middle;
  padding-top: 80px; }

.problem-page .col-animation {
  vertical-align: top !important;
  padding-top: 100px; }

.flash-btn {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: scaleBtn 2.5s infinite;
  -moz-animation: scaleBtn 2.5s infinite;
  -o-animation: scaleBtn 2.5s infinite;
  animation: scaleBtn 2.5s infinite; }

.problem-list {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0px 40px 0px; }
  .problem-list .arrow-list {
    display: inline-block;
    font-size: 22px;
    color: #ccc; }
  .problem-list li {
    text-align: center;
    display: inline-block;
    margin: 10px 8px;
    -webkit-transform: scale(1);
    transition: 0.3s all; }
  .problem-list a {
    border: 1px solid #ccc;
    -webkit-transform: scale(1);
    padding: 8px 12px;
    transition: 0.3s all;
    border-radius: 8px;
    font-family: "vinyl";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    color: #999;
    margin: 0 auto;
    text-decoration: none; }
    .problem-list a:hover {
      border-color: #999;
      color: #777;
      animation: none; }

.active-problem-link {
  border-color: #F43939 !important;
  background-color: #fff;
  color: #F43939 !important; }

.problem-title {
  transition: 0.3s all;
  text-align: center;
  font-size: 28px;
  margin: 0px auto 5px auto; }

.problem-description {
  transition: 0.3s all;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 20px; }

#animation {
  background: url("https://s3.amazonaws.com/f.cl.ly/items/2H0b0E3L0E3j1Q2l160u/b2b-sprite.png");
  height: 325px;
  width: 500px;
  -ms-transform-origin: 0%;
  /* IE 9 */
  -webkit-transform-origin: 0%;
  /* Chrome, Safari, Opera */
  transform-origin: 0%; }

.hidden-solution {
  display: none; }

#solution-page {
  background-image: url(../img/solutionBG.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 1000; }
  #solution-page section {
    padding: 200px 0px 20px 0px; }
    #solution-page section h1 {
      margin: 0px !important;
      padding: 0px !important; }

.solution-section {
  height: auto;
  color: #fff; }
  .solution-section:nth-child(1) {
    padding-bottom: 100px; }
  .solution-section .instruction-text {
    margin-top: 30px; }
  .solution-section h1 {
    padding-top: 100px !important;
    font-size: 100px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center; }
  .solution-section p {
    font-family: "rooney-web", sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    line-height: 30px; }

.solution-list {
  z-index: 500;
  border-spacing: 0px; }
  .solution-list .col {
    max-width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
    text-align: center;
    background: #555; }
    .solution-list .col:first-child {
      background-color: #58C2FC;
      background-color: #EF5350; }
    .solution-list .col:nth-child(2) {
      background-color: #38B5FB;
      background-color: #29B6F6; }
    .solution-list .col:nth-child(3) {
      background-color: #21A8FA;
      background-color: #66BB6A; }
    .solution-list .col:last-child {
      background-color: #1D9AEB;
      background-color: #FFCA28; }
    .solution-list .col a {
      border: 1px solid white;
      padding: 5px 12px;
      line-height: 40px;
      border-radius: 10px;
      font-family: "vinyl";
      font-size: 28px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      transition: 0.2s all;
      box-sizing: border-box; }
      .solution-list .col a:hover {
        background-color: rgba(0, 0, 0, 0.2); }

.down-arrow-sketch {
  display: block;
  margin: 10px auto 0px auto;
  width: 40px;
  background-image: url(../img/solution-down-arrow.png);
  height: 120px;
  background-size: cover; }

.relative-col {
  position: relative; }

.collage {
  position: absolute;
  top: 0px;
  left: 0px; }

#solution-expanded {
  background: white;
  position: relative;
  z-index: 1000000; }

.solution-expanded-content .col {
  padding: 0px 10px; }
.solution-expanded-content article.row {
  margin-top: 20px; }
  .solution-expanded-content article.row:first-child {
    margin-top: 0px;
    padding-top: 50px; }
    .solution-expanded-content article.row:first-child h1 {
      margin-top: 0px; }
  .solution-expanded-content article.row p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 12px; }
.solution-expanded-content h1 {
  font-size: 32px;
  margin-bottom: 5px;
  margin-top: 5px; }

.toggle-div {
  width: 100%;
  padding: 30px 0px;
  background: #333;
  z-index: 1000000; }
  .toggle-div .slide-toggle-btn {
    margin: 0px auto !important;
    background: #333;
    color: white;
    border-color: white; }
    .toggle-div .slide-toggle-btn:hover {
      background: #fff;
      color: #333; }

.padding-top-200 {
  padding-top: 280px; }

.padding-top-120 {
  padding-top: 120px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-top-60 {
  padding-top: 60px; }

.padding-top-40 {
  padding-top: 40px; }

.change-height {
  height: 300px !important; }

.dual-pane-section {
  width: 100%;
  background: #fff;
  height: 700px;
  border-spacing: 0;
  text-align: center; }
  .dual-pane-section .col {
    vertical-align: middle; }
  .dual-pane-section .col-left {
    position: relative;
    width: 50%;
    background-size: cover !important;
    color: #fff; }
    .dual-pane-section .col-left .slick-list {
      height: 300px !important; }
    .dual-pane-section .col-left h1 {
      font-size: 100px;
      margin-bottom: 20px; }
    .dual-pane-section .col-left p {
      font-size: 22px;
      line-height: 28px; }
    .dual-pane-section .col-left img {
      position: absolute;
      z-index: 100;
      top: 50px;
      right: -70px;
      max-width: 88%; }
  .dual-pane-section .col-right {
    position: relative; }
    .dual-pane-section .col-right .slide-title {
      margin-top: 20px;
      font-size: 32px;
      margin-bottom: 0px;
      padding: 0 40px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    .dual-pane-section .col-right p {
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
      padding: 0 40px; }
    .dual-pane-section .col-right img {
      max-width: 400px;
      margin-bottom: 10px; }

.stroke {
  position: absolute;
  z-index: 1;
  left: -120px;
  top: 0px;
  width: 120px;
  height: 100%;
  background-size: auto 100% !important; }

.stroke-a {
  background-image: url(../img/stroke-a1.png); }

.stroke-b {
  background-image: url(../img/stroke-a2.png); }

.stroke-c {
  background-image: url(../img/stroke-b1.png); }

.stroke-d {
  background-image: url(../img/stroke-b2.png); }

.stroke-e {
  background-image: url(../img/stroke-b3.png); }

#technology-section {
  background: #fff; }
  #technology-section .col-left {
    background: url(../img/techBG.jpg); }
    #technology-section .col-left .title-tech {
      top: 0px; }
  #technology-section .col-middle {
    background: #2286CE; }

#artists-section {
  background: #fff; }
  #artists-section .col-left {
    background: url(../img/artistsBG.jpg);
    background-size: cover;
    background-position: center center; }
  #artists-section .col-middle {
    background: #D73435; }
  #artists-section .col-right img.title {
    max-width: 400px;
    margin-bottom: 25px; }

.quote-arrow {
  top: 35%;
  position: absolute;
  display: inline-block;
  width: 24px;
  opacity: 0.2;
  padding: 0px 10px;
  transition: 0.3s all; }
  .quote-arrow:hover {
    opacity: 0.4;
    cursor: pointer; }

.next-arrow {
  right: -10px; }

.prev-arrow {
  left: -10px; }

.quote-section-slide {
  position: relative;
  overflow-y: visible; }
  .quote-section-slide .slick-slider {
    border-radius: 10px;
    padding-bottom: 20px; }
  .quote-section-slide .button {
    display: none !important; }

.quote-slides p:first-child {
  position: relative; }
.quote-slides .quote-start {
  background: url(../img/quote-start.png);
  display: block;
  width: 22px;
  height: 22px;
  background-size: cover;
  position: absolute;
  left: 10px;
  top: 0px;
  z-index: 10000; }
.quote-slides .quote-end {
  background: url(../img/quote-end.png);
  display: block;
  width: 22px;
  height: 22px;
  background-size: cover;
  position: absolute;
  right: 10px;
  bottom: -5px;
  display: none; }
.quote-slides p {
  text-indent: 0px !important;
  font-size: 20px !important;
  font-family: "vinyl";
  line-height: 24px !important;
  text-align: justify !important;
  text-justify: inter-word !important; }
.quote-slides .italic {
  display: block; }
.quote-slides .quote-source {
  text-align: center !important;
  margin-bottom: 20px;
  display: block;
  font-family: "rooney-web", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important; }

.quotes-artists {
  margin-top: 20px;
  padding-top: 20px; }

#library-section {
  background: #fff; }
  #library-section .col-left {
    background: url(../img/libraryBG.jpg);
    background-position: center right; }
  #library-section .library-links {
    margin-bottom: 20px; }
  #library-section .col-middle {
    background: #DFAC22; }
  #library-section .library-genre-link {
    color: #333;
    text-decoration: none; }
  #library-section .col-right img {
    margin: 20px auto; }
  #library-section .col-right ul {
    margin-bottom: 10px; }
    #library-section .col-right ul li {
      display: inline-block;
      width: 150px;
      margin: 0px 5px; }
  #library-section .col-right figure figcaption {
    padding: 0px;
    text-align: center; }
    #library-section .col-right figure figcaption p {
      padding: 0;
      font-family: "vinyl";
      font-size: 18px;
      letter-spacing: 1px;
      text-indent: 0;
      text-align: center;
      margin: 4px auto 10px auto; }
  #library-section .col-right figure .genre-circle {
    display: inline-block;
    width: 100px !important;
    height: 100px;
    border-radius: 50px;
    background-size: cover;
    margin: 0 auto; }
  #library-section .col-right figure .genre-circle-sp {
    background-image: url(../img/studio.png); }
  #library-section .col-right figure .genre-circle-vp {
    background-image: url(../img/venue.png); }
  #library-section .col-right figure .genre-circle-d {
    background-image: url(../img/interview.png); }
  #library-section .col-right figure .genre-circle-as {
    background-image: url(../img/yearbook.jpg); }
  #library-section .col-right figure .genre-circle-tgs {
    background-image: url(../img/togoshows.png); }
  #library-section .col-right figure .genre-circle-pc {
    background-image: url(../img/podcast.png); }
  #library-section section.library-featured {
    text-align: left;
    margin-top: 20px; }
    #library-section section.library-featured ol {
      margin-top: 10px;
      padding-left: 40px; }
    #library-section section.library-featured li {
      margin-bottom: 3px; }
      #library-section section.library-featured li a {
        font-size: 14px; }

.platforms {
  max-width: 100%;
  margin: 30px auto; }
  .platforms li {
    max-width: 140px;
    display: inline-block;
    margin: 2px 4px !important; }
    .platforms li img {
      margin: 0 !important;
      max-width: 100% !important; }

.podcast-section p {
  margin-top: 30px !important; }

.soundcloud-player {
  margin-top: 30px !important; }

#vision-section {
  background: #fff; }
  #vision-section .col-left {
    background: url(../img/visionBG.jpg); }
  #vision-section .col-middle {
    background: #23bc28; }
  #vision-section .col-right img.title {
    max-width: 90%; }
  #vision-section .col-right h1.slide-title {
    margin: 0px auto 20px auto;
    padding: 0; }
  #vision-section .col-right p {
    text-indent: 0px; }
  #vision-section .library-featured {
    text-align: left;
    padding: 0px 40px;
    margin-top: 10px; }
    #vision-section .library-featured p {
      text-indent: 0px;
      padding: 0;
      margin: 0; }
    #vision-section .library-featured ol {
      margin-top: 10px;
      padding-left: 0px; }
    #vision-section .library-featured li {
      margin-bottom: 3px; }

#about-section {
  background: #fff; }
  #about-section .col-right .slick-dots {
    border: none !important; }
  #about-section .col-right .contact-us {
    position: relative;
    color: #333; }
    #about-section .col-right .contact-us h2 {
      margin-top: 25px;
      font-size: 30px !important; }
    #about-section .col-right .contact-us .contact-img {
      width: 32px;
      height: 32px;
      display: inline-block;
      position: relative;
      top: 8px; }
    #about-section .col-right .contact-us .contact-a {
      background: url(../img/contact-a.png); }
    #about-section .col-right .contact-us .contact-b {
      background: url(../img/contact-b.png); }
    #about-section .col-right .contact-us .contact-btn {
      border: 1px solid #333;
      font-family: "vinyl";
      font-size: 24px;
      padding: 10px 20px 10px 10px;
      border-radius: 6px;
      letter-spacing: 1px;
      text-align: center;
      color: #333;
      text-decoration: none;
      transition: 0.3s all; }
      #about-section .col-right .contact-us .contact-btn:hover {
        background-color: rgba(0, 0, 0, 0.2); }
    #about-section .col-right .contact-us h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 36px; }
    #about-section .col-right .contact-us ul li {
      display: inline-block;
      margin: 0px 12px; }
  #about-section .col-middle {
    background: #F48522; }
  #about-section .col-left {
    background: url(../img/aboutBG.jpg);
    background-position: center right; }

footer {
  max-width: 100%;
  background: url(../img/pattern-4.jpg);
  text-align: center; }
  footer img {
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px; }
  footer .footer-links, footer .social-links {
    text-align: center; }
    footer .footer-links li, footer .social-links li {
      font-family: "vinyl", sans-serif;
      margin-right: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: inline-block; }
      footer .footer-links li span, footer .social-links li span {
        width: 32px;
        height: 32px;
        display: inline-block;
        position: relative;
        top: 10px;
        left: -8px; }
      footer .footer-links li a, footer .social-links li a {
        text-decoration: none;
        color: #ccc !important;
        border-bottom: 2px #1d1c21 solid;
        transition: 0.3s all; }
        footer .footer-links li a:hover, footer .social-links li a:hover {
          color: white;
          border-color: white; }

.social-links {
  margin-top: 20px;
  padding-bottom: 40px; }
  .social-links li {
    margin-right: 10px !important;
    margin-left: 20px; }

.svg path, .svg polygon {
  transition: 0.3s all !important; }

@media (max-width: 800px) {
  .mobile-hidden {
    display: none !important; }

  nav .menu-btn {
    display: block; }
  nav .nav-container {
    text-align: left;
    margin-left: 10px; }
  nav ul {
    display: none; }

  .background-image {
    background-image: url(../img/aboutBG1.jpg); }

  .home-page h1 {
    font-size: 36px; }
  .home-page h2 {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 20px;
    line-height: 24px; }
  .home-page .down-arrow {
    display: none; }

  .mobile-animation {
    display: block; }

  .dual-pane-section .col-left img {
    display: none; }

  footer .footer-links li {
    display: block;
    margin: 0px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #333; }
  footer .social-links li {
    margin: 0px 0px 15px 0px !important;
    display: block; }

  .stroke {
    display: none; }

  .col-right {
    z-index: 200000; }

  #technology-section .col-title {
    background-color: rgba(14, 173, 222, 0.7); }

  #artists-mid .col-title {
    background-color: rgba(208, 2, 2, 0.75); }

  #lib-mid .col-title {
    background-color: rgba(255, 226, 0, 0.75); }

  #vision-mid .col-title {
    background-color: rgba(80, 0, 207, 0.75); }

  #about-mid .col-title {
    background-color: rgba(255, 139, 0, 0.7); }

  .col-title {
    box-sizing: border-box;
    padding: 30px 0px;
    position: absolute;
    width: 100%; }
    .col-title h1 {
      border: none !important;
      text-transform: uppercase;
      font-size: 26px;
      letter-spacing: 0.5px; }
    .col-title p {
      font-size: 12px;
      line-height: 16px;
      padding: 0px 5px; }

  .col-middle {
    display: block !important;
    padding: 25px 0px 0px 0px !important; }
    .col-middle span {
      font-family: "Inconsolata", monospace;
      display: block;
      color: #999;
      height: 30px; }
    .col-middle a {
      color: white;
      box-sizing: border-box;
      border: 1px solid white;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 10px 8px;
      border-radius: 10px;
      text-decoration: none !important; }

  #problem-section {
    height: auto !important; }

  .problem-page .col-problem {
    padding-top: 20px; }
    .problem-page .col-problem img {
      display: none !important; }
    .problem-page .col-problem h1 {
      font-size: 40px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center;
      color: #F43939; }
    .problem-page .col-problem p {
      font-family: "rooney-web", sans-serif;
      font-size: 12px;
      text-align: center;
      padding: 0px 5px;
      margin-top: 2px;
      margin-bottom: 30px;
      line-height: 18px;
      color: #F43939; }
    .problem-page .col-problem p.mobile-hidden {
      margin: -2px auto 0px auto; }

  .problem-page .col-animation {
    padding-top: 0px; }

  .problem-title {
    font-size: 22px;
    margin: -50px auto 10px auto; }

  .problem-description {
    padding: 0 10px 0px 10px;
    font-size: 12px;
    line-height: 16px; }

  .problem-list .arrow-list {
    display: none; }
  .problem-list li {
    margin: 4px 4px; }
  .problem-list a {
    transition: 0.3s all;
    text-align: center;
    padding: 8px 8px 6px 8px;
    border: 1px #ccc solid;
    font-size: 14px;
    text-decoration: none; }
    .problem-list a:hover {
      border-color: #999;
      color: #777;
      animation: none; }

  .hidden-solution {
    display: block;
    margin-top: 20px; }

  #solution-page {
    background-size: cover !important;
    position: relative;
    padding-bottom: 20px;
    height: auto;
    z-index: 500; }
    #solution-page section {
      padding: 50px 0px; }

  .down-arrow-sketch {
    display: none; }

  .solution-section {
    height: auto; }
    .solution-section:nth-child(1) {
      padding-bottom: 0px !important; }
    .solution-section h1 {
      padding-top: 50px !important;
      font-size: 40px;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: center; }
    .solution-section p {
      font-family: "rooney-web", sans-serif;
      font-weight: 300;
      font-size: 12px !important;
      line-height: 16px !important;
      text-align: center;
      padding: 0px 10px;
      text-align: left;
      margin-top: 10px; }
    .solution-section .btn {
      width: 130px; }

  .solution-list {
    display: none !important; }

  .solution-expanded-content {
    overflow-y: hidden; }
    .solution-expanded-content .col {
      padding: 0; }
    .solution-expanded-content h1 {
      font-size: 22px;
      text-align: center; }
    .solution-expanded-content p {
      box-sizing: border-box;
      font-size: 12px;
      line-height: 16px;
      padding: 0px 10px; }

  .btn {
    font-size: 12px !important;
    letter-spacing: 2px; }

  .solution-expanded-content article.row p {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 10px; }

  .solution-expanded-content {
    padding-bottom: 0px !important; }

  .row {
    height: auto; }

  .col-middle {
    z-index: 2000000; }

  .row, .col {
    display: block;
    width: 100%; }

  .col-right {
    width: 100%;
    padding: 0px; }
    .col-right .swiper-slide {
      padding: 10px 0px 0px 0px;
      margin: 0px; }
      .col-right .swiper-slide .slide-title {
        font-size: 22px;
        letter-spacing: 1px; }
      .col-right .swiper-slide p {
        padding: 0 10px;
        font-size: 12px;
        line-height: 16px;
        text-indent: 0px; }

  .col-left {
    width: 100% !important;
    overflow: hidden;
    z-index: 10;
    background-size: 100% !important;
    color: #fff;
    height: 300px; }
    .col-left h1 {
      font-size: 50px; }
    .col-left img {
      max-width: 100%; }

  #about-section img {
    margin-bottom: 30px; }

  #about-section .contact-img {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    top: 8px; }
  #about-section h2 {
    font-size: 22px !important;
    letter-spacing: 1px;
    margin: 5px auto !important; }
  #about-section ul {
    margin-top: 0px; }
    #about-section ul li {
      display: inline-block;
      margin: 0px 6px !important; }
  #about-section .contact-btn {
    border: 1px solid white;
    font-family: "vinyl";
    font-size: 18px;
    padding: 10px 20px 10px 10px;
    border-radius: 6px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 0.3s all; }
    #about-section .contact-btn:hover {
      background-color: rgba(0, 0, 0, 0.6); }

  #library-section .library-links {
    margin-bottom: 20px; }
  #library-section .hide-for-layout {
    display: block;
    opacity: 0; }
  #library-section .col-right .library-links ul {
    margin-bottom: 10px; }
    #library-section .col-right .library-links ul li {
      display: inline-block;
      width: 75px;
      margin: 0px 5px; }
  #library-section .col-right figure {
    height: 100px;
    vertical-align: top !important; }
    #library-section .col-right figure figcaption {
      padding: 0px;
      text-align: center; }
      #library-section .col-right figure figcaption p {
        padding: 0;
        margin: 0;
        margin-top: 5px;
        width: 100%;
        height: 50px;
        font-family: "vinyl";
        font-size: 14px;
        letter-spacing: 1px;
        text-indent: 0;
        text-align: center; }
    #library-section .col-right figure .genre-circle {
      display: inline-block;
      width: 60px !important;
      height: 60px;
      border-radius: 50px;
      background-size: cover;
      margin: 0 auto; }

  .padding-top-200 {
    padding-top: 20px; }

  .padding-top-120 {
    padding-top: 20px; }

  .padding-top-100 {
    padding-top: 20px; }

  .padding-top-60 {
    padding-top: 0; }

  .padding-top-40 {
    padding-top: 0; }

  .swiper-container {
    max-width: 100%;
    margin: 0 auto; }

  .swiper-slide {
    margin-top: 20px;
    width: 100%;
    height: auto; }

  .mobile-hidden {
    display: block;
    max-width: 100%;
    height: auto; }

  #animation {
    display: none; }

  .mobile-animation {
    height: auto;
    max-width: 100%;
    transition: 0.3s all; }

  .problem-title {
    margin-top: 0px; }

  .collage {
    display: none; }

  .solution-diagram {
    display: none; }

  .slick-dots {
    padding: 0px !important;
    margin: 0px !important; }
    .slick-dots li {
      margin: 0px 5px !important;
      width: 25px !important; }

  .desktop-hidden {
    display: block; }

  ul.slick-dots {
    border: none; }

  .slide-heading-img {
    max-width: 90% !important; }

  .dual-pane-section .col-right img {
    max-width: 90% !important; }

  .about-slider img {
    width: 100px !important;
    margin-bottom: 10px !important; }

  #about-section .col-right .contact-us h2 {
    font-size: 22px !important;
    margin-top: 20px !important; }
  #about-section .col-right .contact-us ul {
    margin-top: 20px; }
    #about-section .col-right .contact-us ul li a {
      padding: 6px 10px !important;
      font-family: "rooney-web", sans-serif !important;
      font-size: 18px !important; }
      #about-section .col-right .contact-us ul li a span {
        display: none !important; }

  .library-featured ol {
    padding-left: 10px; }

  .quote-start, .next-arrow, .prev-arrow {
    display: none !important; }

  .quotes-artists {
    padding: 0; }

  .quote-slides p {
    font-size: 17px !important;
    line-height: 20px !important; } }
@media (max-width: 1000px) {
  #library-section .col-right .hide-docs {
    display: block;
    opacity: 0; }
  #library-section .col-right ul li {
    display: inline-block;
    width: 120px;
    margin: 0px 5px; } }
.slide-heading-img {
  border-radius: 10px !important;
  height: auto !important; }

.image-selection {
  position: absolute;
  bottom: 100px;
  width: 100%; }
  .image-selection li {
    display: inline-block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    color: #999;
    border: 1px solid #999;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    margin: 0px 5px;
    transition: 0.3s all;
    font-family: "rooney-web", sans-serif; }
    .image-selection li:hover {
      cursor: pointer;
      color: #fff;
      border-color: white; }

.swiper-container {
  margin: 0 auto;
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  z-index: 1; }

.swiper-slide {
  margin-top: 10px;
  width: 100%;
  height: 600px;
  padding: 0px 15px;
  padding-top: 30px;
  box-sizing: border-box; }
  .swiper-slide img {
    text-align: center;
    margin: 0 auto; }

button, input {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  line-height: normal; }

.slick-dots {
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-top: 20px; }
  .slick-dots li {
    outline: 0;
    width: 30px !important;
    display: inline-block;
    margin: 0 5px; }
  .slick-dots li button {
    outline: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ccc;
    color: #ccc;
    transition: 0.3s all; }
    .slick-dots li button:hover {
      cursor: pointer; }
    .slick-dots li button:active {
      outline: 0; }
  .slick-dots .slick-active button {
    color: #333;
    background: #333; }

.tech-slider .slick-active button {
  color: #2189D3;
  background: #2189D3; }
.tech-slider li button {
  background: #ceebff;
  color: #ceebff; }

.artists-slider .slick-active button {
  color: #E43737;
  background: #E43737; }
.artists-slider li button {
  background: #edcece;
  color: #edcece; }

.library-slider .slick-active button {
  color: #e8b936;
  background: #e8b936; }
.library-slider li button {
  background: #f2e7c9;
  color: #f2e7c9; }

.vision-slider .slick-active button {
  color: #5B257B;
  background: #5B257B; }
.vision-slider li button {
  background: #dab3f2;
  color: #dab3f2; }

.about-slider .slick-active button {
  color: #FB8823;
  background: #FB8823; }
.about-slider li button {
  background: #ffdfc4;
  color: #ffdfc4; }

.featherlight-content {
  top: -120px; }

.videoInfo {
  position: absolute;
  top: 350px;
  color: #333;
  z-index: 20000;
  width: 600px;
  border-radius: 4px;
  background-color: #fff;
  padding: 20px 10px;
  box-sizing: border-box; }
  .videoInfo h1 {
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.5px; }
  .videoInfo p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px; }

.col-middle {
  position: relative;
  background: #222 !important;
  padding: 10px 0px;
  width: 100%;
  color: #fff;
  display: none; }
  .col-middle h1 {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding-bottom: 2px; }
  .col-middle a {
    text-decoration: none;
    color: #fff;
    font-family: "rooney-web", sans-serif; }

.lightbox {
  border: none;
  outline: none;
  background: none;
  background-color: none; }

.featherlight .featherlight-content {
  padding: 0 !important;
  background: none !important; }

@-webkit-keyframes scaleBtn {
  0% {
    -webkit-transform: scale(1); }
  20% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-o-keyframes scaleBtn {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@keyframes scaleBtn {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes flashArrow {
  0% {
    opacity: 0;
    bottom: 50px; }
  50% {
    opacity: 0;
    bottom: 50px; }
  60% {
    opacity: 1;
    bottom: 50px; }
  70% {
    opacity: 1;
    bottom: 10px; }
  80% {
    opacity: 0;
    bottom: 10px; }
  100% {
    opacity: 0;
    bottom: 10px; } }
@keyframes flashArrow {
  0% {
    opacity: 0;
    bottom: 50px; }
  50% {
    opacity: 1;
    bottom: 50px; }
  60% {
    opacity: 1;
    bottom: 50px; }
  70% {
    opacity: 1;
    bottom: 10px; }
  80% {
    opacity: 0;
    bottom: 10px; }
  100% {
    opacity: 0;
    bottom: 10px; } }
@-o-keyframes flashArrow {
  0% {
    opacity: 0;
    bottom: 50px; }
  50% {
    opacity: 0;
    bottom: 50px; }
  60% {
    opacity: 1;
    bottom: 50px; }
  70% {
    opacity: 1;
    bottom: 10px; }
  80% {
    opacity: 0;
    bottom: 10px; }
  100% {
    opacity: 0;
    bottom: 10px; } }
@-moz-keyframes flashArrow {
  0% {
    opacity: 0;
    bottom: 50px; }
  50% {
    opacity: 1;
    bottom: 50px; }
  60% {
    opacity: 1;
    bottom: 50px; }
  70% {
    opacity: 1;
    bottom: 10px; }
  80% {
    opacity: 0;
    bottom: 10px; }
  100% {
    opacity: 0;
    bottom: 10px; } }
